

.navbar{
    height: 60px;
    padding: 24px 20px;
    background-color: rgb(39, 30, 30);
    border-radius: 3px;
}

.navbar a{
    text-decoration: none;
    font-size: 16px;
}

main{
    border: 1px solid gray;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 4%;
}