body {
  margin: 0;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: #0a0b0c;
  top: 0;
  color: white;
  width: 100%;
  height: 50px;
}

div input {
  height: 40px;
  padding: 7px 15px;
  border: none;
  /* border: 1px solid brown; */
  border-radius: 4px;

  margin: 5px 0;

  /* border: 2px solid greenyellow; */
}

div a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.myform {
  width: 500px;
  height: auto;
  border-radius: 5px;
  box-shadow: -4px 14px 18px -8px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -4px 14px 18px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 14px 18px -8px rgba(0, 0, 0, 0.57);
}

.formInstruction {
  /* border: 2px solid yellow; */
  padding: 10px 0;
  width: 100%;
  background-color: #f8e76e;
}

.formInstruction h2 {
  margin-left: 5%;
  font-size: 2em;
  font-family: "ebrima";
  font-weight: lighter;
}

.formInstruction p {
  margin-left: 5%;
  font-size: 1em;
  font-family: "ebrima";
}

.fillContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 82px;
  height: 280px;
}

.formContentElement {
  min-width: 100%;
}

.names {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

label{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}

.names .inputRequest {
  width: 47.5%;
  min-width: 150px;
}

.inputRequest {
  padding: 7px;
  font-size: 1.2em;
  background-color: #f2f2f2;
  border-style: none;
  border-radius: 2px;
  
}

.inputRequest:focus {
  border-style: solid;
  border-width: 3px;
  border-color: #0d6380;
}

.submitButtonDiv {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 40%;
  height: 100%;
  background-color: #0099cc;
  border-style: none;
  color: white;
  font-size: 1.1em;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 4px;
  margin-bottom: 10px;
  font-family: "ebrima";
  font-weight: lighter;
}
